<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqy.cams.dao.UserMapper" >
    <resultMap id="roleMap" type="com.tqy.cams.bean.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <collection property="users" ofType="com.tqy.cams.bean.User" column="role_id">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
        </collection>
    </resultMap>

    <select id="getRoleUser" resultMap="roleMap">
        select r.role_id,r.role_name,u.user_id,u.user_name
        from role r,role_user ru,`user` u
        where r.role_id=ru.role_id
        and ru.user_id=u.user_id
    </select>
    
    <select id="getIdByName" resultType="java.lang.String">
        select user_id from user where user_name=#{userName}
    </select>
    
    <select id="getUserByName" resultType="java.lang.String">
        select user_id from user where user_name=#{userName} and user_pwd=#{userPwd}
    </select>

    <select id="getUsers" resultType="java.util.Map">
        select r.role_id AS "id",r.role_name AS "name",'' AS "pId"
        from role r
        UNION
        select u.user_id AS "id",u.user_name AS "name",r.role_id AS "pId"
        from role r,role_user ru,`user` u
        where r.role_id=ru.role_id and ru.user_id=u.user_id
    </select>

    <select id="getUsersNoRole" resultType="com.tqy.cams.bean.User">
       select u.user_id AS "userId",u.user_name AS "userName",u.user_pwd AS "userPwd" 
       from `user` u
    </select>

    <select id="getUserRoles" parameterType="java.lang.String" resultType="java.lang.String">
        select r.role_id from role_user r where r.user_id= #{0}
    </select>
    
    <select id="getUserInfo" parameterType="java.lang.String" resultType="java.util.Map">
        select u.user_id AS "userId",u.user_name AS "userName",r.role_name AS "roleName"
        from `user` u,role_user ru,role r
        where u.user_id=ru.user_id and ru.role_id=r.role_id
        AND u.user_id=#{0}
    </select>

    <select id="getRolesByUserIds" parameterType="java.util.List" resultType="java.util.Map">
        select t.user_id,t.role_id
        from role_user t
        where 1=1
        <if test="array != null and array.length > 0">
            AND t.user_id in
            <foreach collection="array" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>